/* From Uiverse.io by catraco */ 
.cardSkills {
    --blub-color: #52d4eb;
    position: relative;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #31306a66;
    border-radius: 16px;
    padding: 1rem;
  }
  
  @keyframes keyframes-rotate-blubs {
    0% {
      transform: translate(10px) rotate(360deg);
    }
  
    50% {
      transform: translate(-5px, 10px) rotate(180deg);
    }
  
    100% {
      transform: translate(10px) rotate(0deg);
    }
  }
  
  .cardSkills span {
    position: absolute;
    background: linear-gradient(0deg, transparent, var(--blub-color));
    border-radius: 100%;
    opacity: 0.5;
    animation: keyframes-rotate-blubs 4s infinite linear;
    top: var(--top, 10%);
    left: var(--left, 10%);
    width: var(--size, 80px);
    height: var(--size, 80px);
    animation-delay: var(--delay, 0.1s);
  }
  
  .cardSkills div {
    backdrop-filter: blur(15px);
    outline: 1px solid var(--card-color);
    color: var(--card-color);
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  
  .cardSkills div .check {
    fill: var(--card-color);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
  
  .cardSkills div hr {
    border: none;
    border-top: 1px solid var(--card-color);
    opacity: .5;
  }
  
  .cardSkills div button {
    background-color: transparent;
    color: var(--card-color);
    border: none;
    outline: 1px solid var(--card-color);
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: .2em;
  }
  
  .cardSkills div button .arrow {
    width: 0px;
    height: 20px;
    fill: var(--blub-color);
    transform: scale(0);
    transition: .3s;
  }
  
  .cardSkills div button:hover .arrow {
    width: 20px;
    margin-left: 1em;
    transform: scale(1);
  }
  
  .cardSkills div button:hover {
    background-color: var(--card-color);
    color: var(--blub-color);
    cursor: pointer;
  }