@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="light"] {
  --background: #f0f0f0;
  --foreground: #333333;
  --primary-bg: #f0f0f0;
  --secondary-bg: #e0e0e0;
  --accent-color: #ff6b6b;
  --text-primary: #333333;
  --text-secondary: #666666;
  --border-color: #333333;
  --card-bg: #ffffff;
  --nav-bg: rgba(255, 255, 255, 0.03);
  --nav-text-color: #333333;
  --nav-text-hover: #666666;
  --nav-border-color: #333333;
  --text-purple-300: #a66eff;
  --text-yellow-300: #e4bd1f;
  --text-pink-400: #ff8dc7;
}

[data-theme="dark"] {
  --background: #272642;
  --foreground: #ffffff;
  --primary-bg: #272642;
  --secondary-bg: #1a1730;
  --accent-color: #e76f51;
  --text-primary: #ffffff;
  --text-secondary: #d1d5db;
  --border-color: #ffffff;
  --card-bg: #1e1a35;
  --nav-bg: rgba(255, 255, 255, 0.03);
  --nav-text-color: #ffffff;
  --nav-text-hover: #d1d5db;
  --nav-border-color: #ffffff;
  --text-purple-300: #8b45ff;
  --text-yellow-300: #ffd700;
  --text-pink-400: #ff69b4;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
